#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
}

#container {
    width: 100vw;
    height:100vh;
    transform: scale(2.5);
}
/*
need to figure out a way in AE to export the vectors animation without a mask maybe try bringingint the brackets*/

body {
  background: #ec5c5d;
}

.logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  text-align: center;
}

#logo {
  width: 70%;
  fill: transparent;
  stroke: #fff;
  transform: translateY(15px)
}
#tag-line {
  width: 75%;
  text-align: center;
  display: block;
  margin: 0 auto;
  fill: transparent;
  
}
